global_defs {
    notification_email {
{% for receipient in notification.receipients %}
       {{ receipient }}
{% endfor %}
    }

    script_user nobody
    enable_script_security

    notification_email_from {{ notification.sender }}
    smtp_server {{ notification.smtp_server }}
    smtp_connect_timeout 30
}

vrrp_script check_haproxy {
    script "/usr/bin/curl 'http://[::1]:8888/healthz'"
    
    interval 3
    timeout 3

    init_fail
}

vrrp_instance hap {
    state MASTER
    interface {{ keepalived.interface }}
    virtual_router_id 51
    priority {{ keepalived.priority }} # 101 for master. 100 for backup. [priority of master > priority of backup]
    advert_int 1

    track_script {
        check_haproxy
    }

    virtual_ipaddress {
        {{ hostvars['api'].ipv6.public }} dev public
        {{ hostvars['api'].ipv6.mgmt }}   dev bond0
    }
}
