---
apiVersion: v1
kind: Secret
metadata:
  name: sciebo-3dpt00-rwth-aachen-de
  namespace: jhub-users
data:
  username: "{{ '3DPT00@rwth-aachen.de' | b64encode }}"
  password: "{{ lookup('passwordstore', 'sciebo/stvogel-app-token') | b64encode }}"
type: Opaque
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: sciebo-3dpt00-rwth-aachen-de
  namespace: jhub-users
spec:
  accessModes:
  - ReadWriteMany
  storageClassName: manual
  resources:
    requests:
      storage: 1Gi
  selector:
    matchLabels:
      username: 3dpt00-rwth-aachen.de
      server: rwth-aachen.sciebo.de
      share: csi-driver-davfs
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: sciebo-3dpt00-rwth-aachen-de
  namespace: jhub-users
  labels:
    username: 3dpt00-rwth-aachen.de
    server: rwth-aachen.sciebo.de
    share: csi-driver-davfs
spec:
  storageClassName: manual
  accessModes:
  - ReadWriteMany
  capacity:
    storage: 1Gi
  mountOptions:
  - uid=1000
  - gid=100
  - conf=/etc/davfs2/davfs2.conf
  csi:
    driver: csi-davfsplugin
    volumeHandle: data-id
    volumeAttributes:
      server: https://rwth-aachen.sciebo.de
      share: /remote.php/webdav/
    nodePublishSecretRef:
      name: sciebo-3dpt00-rwth-aachen-de
      namespace: jhub-users
