---
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: shibboleth-proxy
  namespace: jhub-staging
  annotations:
    nginx.ingress.kubernetes.io/proxy-body-size: 256m
    nginx.ingress.kubernetes.io/affinity: cookie
    nginx.ingress.kubernetes.io/session-cookie-name: ingress
    nginx.ingress.kubernetes.io/affinity-mode: persistent
    nginx.ingress.kubernetes.io/enable-cors: "true"
    cert-manager.io/cluster-issuer: letsencrypt-prod
spec:
  tls:
  - secretName: letsencrypt-jupyter
    hosts:
    - "{{ domain }}"
  rules:
  - host: "{{ domain }}"
    http:
      paths:
      - path: /
        backend:
          serviceName: shibboleth-nginx-proxy
          servicePort: 443
