---
apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: reporting
  namespace: services
spec:
  # Run every night at 3am
  schedule: "0 3 * * *"
  jobTemplate:
    spec:
      template:
        spec:
          imagePullSecrets:
          - name: registry-jupyter-rwth-aachen-de
          restartPolicy: OnFailure
          containers:
          - name: reporting
            image: registry.jupyter.rwth-aachen.de/provisioning/reporting:latest
            imagePullPolicy: Always
            command: ["python3"]
            args: ["/root/main.py"]
            env:
              - name: PGHOST
                value:  {{ postgres_values.host }}
              - name: PGDATABASE
                value: {{ postgres_values.database }}
              - name: PGUSER
                value: postgres
              - name: PGPASSWORD
                valueFrom:
                  secretKeyRef:
                    name: postgres-postgresql
                    key: postgresql-password
              - name: FILE_PATH
                value: /mnt
              - name: CONFIG_PATH
                value: /root/reporting/report.yml
            volumeMounts:
              - mountPath: "/mnt"
                name: reporting
              - name: reporting-config
                mountPath: "/root/reporting"
                readOnly: true
          volumes:
            - name: reporting
              persistentVolumeClaim:
                claimName: reporting
            - name: reporting-config
              secret:
                secretName: reporting-config
