# configuration for reporting_for_datahamster.py
general:
  report_dir: /mnt
  login: {{ datahamster.username }}
  password: {{ datahamster.password }}

git:
  repo: {{ lookup('passwordstore', 'reporting/profiles-deploy-token') }}
  clone_dir: /tmp/