{% extends "templates/page.html" %}
{% block main %}
<div class="container text-center announcement header">
	<h2>Welcome to RWTHjupyter!</h2>
	<p>
		<a class="login-greeting reference external" href="https://github.com/jupyterhub/jupyterhub">JupyterHub</a>, a multi-user <strong>Hub</strong>, spawns, manages, and proxies multiple instances of the single-user <a class="reference external" href="https://jupyter-notebook.readthedocs.io/en/latest/">Jupyter Notebook</a>        server. JupyterHub can be used to serve notebooks to a class of students, a corporate data science group, or a scientific research group.
	</p>
</div>

<div id="login-main" class="container">
	<div class="service-login">
		<a role="button" class='btn btn-jupyter btn-lg' href='{{ authenticator_login_url }}'>
		Sign in with {{ login_service }}
		</a>
	</div>
</div>

<div class="login-footer container text-center footer">
	<p>The RWTHjupyter cluster is provided in collaboration between the <a href="http://acs.eonerc.rwth-aachen.de/">Institute for Automation of Complex Power Systems</a> and the <a href="https://www.itc.rwth-aachen.de">IT Center</a> of the <a href="https://www.rwth-aachen.de">RWTH Aachen University</a>.</p>
	<p>
		<b>Contact and Support:</b>&nbsp;<a href="mailto:servicedesk@itc.rwth-aachen.de">ServiceDesk of the RWTH IT Center</a><br>
		<b><a style="text-decoration: underline;" href="https://help.itc.rwth-aachen.de/service/8755ff0a2e134bc1a78f4993672487f8">Documentation</a></b>
	</p>
	<img style="width: 350px" src="https://jupyter.pages.rwth-aachen.de/documentation/images/eonerc.png" alt="EONERC" />
	<img style="width: 350px" src="https://jupyter.pages.rwth-aachen.de/documentation/images/itc.png" alt="IT Center" />
</div>
{% endblock %}

{% block stylesheet %}
{{ super() }}
<style>
	#login-main {
		height: 50vh;
	}

	#login-main form {
		margin: 0px;
	}

	.login-greeting {
		font-size: larger;
	}

	.login-footer {
		font-size: larger;
	}
</style>
{% endblock %}
