{% extends "templates/page.html" %}

{% block title %}RWTHjupyter{% endblock %}

{% block nav_bar_left_items %}
{{ super() }}
<li><a href="https://help.itc.rwth-aachen.de/service/8755ff0a2e134bc1a78f4993672487f8">Documentation</a></li>
<li><a href="https://www.itc.rwth-aachen.de/cms/IT-Center/Footer/Service/~epvv/Impressum/?lidx=1">Imprint</a></li>
{% endblock %}

{% block script %}
{{ super() }}
<script src="/services/announcement/common.js"></script>
<script src="/services/announcement/announcement.js"></script>
<script src="/services/survey/survey.js"></script>
{% endblock %}

{% block stylesheet %}
{{ super() }}
<link rel="stylesheet" href="/services/announcement/announcement.css">
<style>
	#spawn_form {
		margin-bottom: 25px;
	}

	/* The profile description should not be bold, even though it is inside the <label> tag */
	#kubespawner-profiles-list label p {
		font-weight: normal;
		margin: 0;
		max-height: 60vh;
	}

	#kubespawner-search {
		width: 100%;
		font-size: 16px;
		padding: 12px 20px 12px 20px;
		border: 1px solid #ccc;
		margin-bottom: 15px;
	}

	#spawner-greeting {
		font-size: large;
		text-align: center;
		margin: 20px 0 40px 0;
	}

	.profile-details {
		font-size: 24px;
		margin: 8px;
	}
</style>
{% endblock %}
