<p id='spawner-greeting'>Please select one of the profiles below or use the search function</p>

{% if profile_list | length > 5 %}
<input type='text' id='kubespawner-search' onkeyup='kubespawner_search()' placeholder='Search for profiles...'>
{%- endif %}

<div class='form-group' id='kubespawner-profiles-list'>
{% for profile in profile_list %}
{% if not profile.hidden %}
	<label for='profile-item-{{ profile.slug }}' class='form-control input-group'>
		<div class='col-md-1'>
			<input type='radio' name='profile' id='profile-item-{{ profile.slug }}' value='{{ profile.slug }}' {% if profile.default %}checked{% endif %} />
		</div>
		<div class='col-md-10'>
			<strong>{{ profile.display_name }}</strong>
			{% if profile.description %}
			<p>{{ profile.description }}</p>
			{% endif %}
		</div>
		<div class="col-md-1">
			<a title="Profile Details" href="/services/profile/details/{{ profile.slug }}">
				<i class="fa fa-info-circle profile-details"></i>
			</a>
		</div>
	</label>
{% endif %}
{% endfor %}
</div>
<script>
	function kubespawner_search() {
		// Declare variables
		var input, filter, profile_container, profiles, name, i, txtValue;

		input = document.getElementById('kubespawner-search');
		filter = input.value.toUpperCase();

		profile_container = document.getElementById('kubespawner-profiles-list');
		profiles = profile_container.getElementsByTagName('label');

		// Loop through all list items, and hide those who don't match the search query
		for (i = 0; i < profiles.length; i++) {
			name = profiles[i].getElementsByTagName('strong')[0];
			txtValue = name.textContent || name.innerText;

			if (txtValue.toUpperCase().indexOf(filter) > -1) {
				profiles[i].style.display = '';
			} else {
				profiles[i].style.display = 'none';
			}
		}
	}
</script>
