---
apiVersion: kubeadm.k8s.io/v1
kind: JoinConfiguration
discovery:
  bootstrapToken:
    apiServerEndpoint: "{{ k8s.control_plane_endpoint }}:6443"
    token: "{{ lookup('passwordstore', 'k8s/bootstrap-token') }}"
    cACertHashes: [ ]
    unsafeSkipCAVerification: true

nodeRegistration:
  name: "{{ hostname }}"
  taints: [ ]
  ignorePreflightErrors:
  - Port-6443

{% if inventory_hostname in groups['masters'] %}
controlPlane:
  certificateKey: "{{ lookup('passwordstore', 'k8s/certificate-key') }}"
  localAPIEndpoint:
    advertiseAddress: "{{ ipv6.public | ipaddr('address') }}"
    bindPort: 7443
{% endif %}

---
apiVersion: kubeproxy.config.k8s.io/v1
kind: KubeProxyConfiguration
bindAddress: "::"
mode: ipvs
