global
    user haproxy
    group haproxy

    log /dev/log	local0

defaults
    mode http
    log global
    retries 2
    timeout connect 3000ms
    timeout server 5000ms
    timeout client 5000ms

frontend stats
    bind :::8888 v4v6

    option dontlognull

    monitor-uri /healthz

    stats enable
    stats uri /stats
    stats refresh 10s

frontend kubernetes
    bind :::6443 v4v6

    timeout client 4h

    mode tcp
    default_backend kubernetes-master-nodes

backend kubernetes-master-nodes
    mode tcp
    balance roundrobin

    option tcp-check

    timeout server 4h

    default-server inter 10s downinter 5s rise 2 fall 2 slowstart 60s maxconn 250 maxqueue 256 weight 100

{% for name in groups['masters'] %}
    server {{ name }} {{ hostvars[name].ipv4.public | ipaddr('address') }}:7443 check
{% endfor %}
