## The GitLab Server URL (with protocol) that want to register the runner against
## ref: https://docs.gitlab.com/runner/commands/README.html#gitlab-runner-register
##
gitlabUrl: "{{ gitlab_runner_url }}"

## The registration token for adding new Runners to the GitLab server. This must
## be retrieved from your GitLab instance.
## ref: https://docs.gitlab.com/ee/ci/runners/
##
runnerRegistrationToken: "{{ gitlab_runner_registration_token }}"

## Set the certsSecretName in order to pass custom certificates for GitLab Runner to use
## Provide resource name for a Kubernetes Secret Object in the same namespace,
## this is used to populate the /etc/gitlab-runner/certs directory
## ref: https://docs.gitlab.com/runner/configuration/tls-self-signed.html#supported-options-for-self-signed-certificates
##
#certsSecretName:

## Specifying ImagePullSecrets on a Pod
## Kubernetes supports specifying container image registry keys on a Pod.
## ref: https://kubernetes.io/docs/concepts/containers/images/#specifying-imagepullsecrets-on-a-pod
##
imagePullSecrets:
  - name: "registry-jupyter-rwth-aachen-de"
  - name: "registry-git-rwth-aachen-de"

## Configure the maximum number of concurrent jobs
## ref: https://docs.gitlab.com/runner/configuration/advanced-configuration.html#the-global-section
##
concurrent: 50

## Defines in seconds how often to check GitLab for a new builds
## ref: https://docs.gitlab.com/runner/configuration/advanced-configuration.html#the-global-section
##
checkInterval: 10

## For RBAC support:
rbac:
  create: true

  ## Run the gitlab-bastion container with the ability to deploy/manage containers of jobs
  ## cluster-wide or only within namespace
  clusterWideAccess: false

  ## If RBAC is disabled in this Helm chart, use the following Kubernetes Service Account name.
  ##
  # serviceAccountName: default

## Configuration for the Pods that the runner launches for each new job
##
runners:
  name: "Kubernetes Runner"
  tags: "k8s"

  runUntagged: yes

  cache:
    secretName: s3access

  config: |
    [[runners]]
      [runners.kubernetes]
        image_pull_secrets = ["registry-jupyter-rwth-aachen-de"]
        image = "docker:19.04"
        privileged = true
        namespace = "{{ gitlab_runner_namespace }}"
        [[runners.kubernetes.volumes.host_path]]
          name = "docker-sock"
          mount_path = "/var/run/docker.sock"
          host_path = "/var/run/docker.sock"
        [runners.cache]
          Type = "s3"
          Path = "runner"
          Shared = true
          [runners.cache.s3]
            ServerAddress = "{{ lookup('k8s', kind='ConfigMap', namespace='ci', resource_name='runner-cache') | json_query('data.BUCKET_HOST') }}"
            BucketName = "{{ lookup('k8s', kind='ConfigMap', namespace='ci', resource_name='runner-cache') | json_query('data.BUCKET_NAME') }}"
            BucketLocation = "eu-west-1"
            Insecure = true
