---
apiVersion: kubeadm.k8s.io/v1beta2
kind: ClusterConfiguration
kubernetesVersion: "{{ k8s.version }}"
networking:
  serviceSubnet: "{{ net.ipv6.k8s_svc }}"
  podSubnet: "{{ net.ipv6.k8s_pod }}"

controlPlaneEndpoint: "{{ k8s.control_plane_endpoint }}:6443"

controllerManager:
  extraArgs:
    bind-address: "::"
    node-cidr-mask-size: "64"

dns:
  type: CoreDNS

etcd:
  local:
    dataDir: /var/lib/etcd

scheduler:
  extraArgs:
    bind-address: "::"

apiServer:
  timeoutForControlPlane: 5m0s
  extraArgs:
    secure-port: "7443"
    bind-address: "::"
  certSANs:
  - api

clusterName: "{{ k8s.cluster_label }}"

---
apiVersion: kubeadm.k8s.io/v1beta2
kind: InitConfiguration
localAPIEndpoint:
  advertiseAddress: "{{ ipv6.public | ipaddr('address') }}"
  bindPort: 7443

nodeRegistration:
  # taints: [ ] # We have a separate task in the play for removing all taints
  ignorePreflightErrors:
  - Port-6443

bootstrapTokens:
- groups:
  - system:bootstrappers:kubeadm:default-node-token
  token: "{{ lookup('passwordstore', 'k8s/bootstrap-token') }}"
  ttl: 864000h # 100 years

certificateKey: "{{ lookup('passwordstore', 'k8s/certificate-key') }}"

---
apiVersion: kubeproxy.config.k8s.io/v1alpha1
kind: KubeProxyConfiguration
bindAddress: "::"
mode: ipvs

# Defaults:
#
# See: kubeadm config print init-defaults
#
# apiVersion: kubeadm.k8s.io/v1beta2
# kind: InitConfiguration
# bootstrapTokens:
# - groups:
#   - system:bootstrappers:kubeadm:default-node-token
#   token: abcdef.0123456789abcdef
#   ttl: 24h0m0s
#   usages:
#   - signing
#   - authentication
# localAPIEndpoint:
#   advertiseAddress: 1.2.3.4
#   bindPort: 6443
# nodeRegistration:
#   criSocket: /var/run/dockershim.sock
#   name: node1.k8s.jupyter.rwth-aachen.de
#   taints:
#   - effect: NoSchedule
#     key: node-role.kubernetes.io/master
# ---
# apiVersion: kubeadm.k8s.io/v1beta2
# kind: ClusterConfiguration
# apiServer:
#   timeoutForControlPlane: 4m0s
# certificatesDir: /etc/kubernetes/pki
# clusterName: kubernetes
# controllerManager: {}
# dns:
#   type: CoreDNS
# etcd:
#   local:
#     dataDir: /var/lib/etcd
# imageRepository: k8s.gcr.io
# kubernetesVersion: v1.17.0
# networking:
#   dnsDomain: cluster.local
#   serviceSubnet: 10.96.0.0/12
# scheduler: {}
