---
apiVersion: projectcalico.org/v3
kind: BGPConfiguration
metadata:
  name: default
spec:
  logSeverityScreen: Info
  nodeToNodeMeshEnabled: true
  asNumber: {{ net.asn }}
  serviceClusterIPs:
  - cidr: {{ net.ipv6.k8s_svc }}
