{% for name in groups['nodes'] %}
{% set host = hostvars[name] %}
---
apiVersion: projectcalico.org/v3
kind: IPPool
metadata:
  name: {{ host.inventory_hostname }}
spec:
  cidr: {{ host.ipv6.k8s_pod }}
  nodeSelector: kubernetes.io/hostname == '{{ host.hostname }}'
{% endfor %}
