---
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: invitation
  namespace: jhub
  annotations:
    nginx.ingress.kubernetes.io/proxy-body-size: 4g
    nginx.ingress.kubernetes.io/affinity: cookie
    nginx.ingress.kubernetes.io/session-cookie-name: ingress
    nginx.ingress.kubernetes.io/affinity-mode: persistent
    nginx.ingress.kubernetes.io/enable-cors: "true"
    cert-manager.io/cluster-issuer: letsencrypt-prod
    nginx.ingress.kubernetes.io/whitelist-source-range: "{{ net.ours | join(',') }}"
spec:
  tls:
  - secretName: letsencrypt-registry
    hosts:
    - "{{ invitation_domain }}"
  rules:
  - host: "{{ invitation_domain }}"
    http:
      paths:
      - path: /
        backend:
          serviceName: invitation
          servicePort: http
