---
kind: DaemonSet
apiVersion: apps/v1
metadata:
  name: shibboleth-nginx-proxy
spec:
  selector:
    matchLabels:
      name: shibboleth-nginx-proxy
      k8s-app: shibboleth-nginx-proxy
  template:
    metadata:
      labels:
        k8s-app: shibboleth-nginx-proxy
        name: shibboleth-nginx-proxy
    spec:
      updateStrategy:
        type: RollingUpdate
        rollingUpdate:
          maxUnavailable: 1
      terminationGracePeriodSeconds: 60
      nodeSelector:
        role: edge
      containers:
      - image: "{{ internal_registry_host }}/provisioning/shibboleth-proxy:latest"
        name: shibboleth-nginx-proxy
        ports:
        # The shibboleth-nginx-proxy actually services non-encrypted HTTP on port 443
        # Check the following link to see why...
        # https://github.com/nginx-shib/nginx-http-shibboleth/issues/22#issuecomment-315543324
        - name: http
          containerPort: 443
        volumeMounts:
        - name: cert-sso-2019
          mountPath: "/etc/cert-sso-2019"
          readOnly: true
        - name: cert-sso-2021
          mountPath: "/etc/cert-sso-2021"
          readOnly: true
        - name: cert-jupyter-2018
          mountPath: "/etc/cert-jupyter-2018"
          readOnly: true
        - name: cert-jupyter-2021
          mountPath: "/etc/cert-jupyter-2021"
          readOnly: true
        livenessProbe:
          httpGet:
            path: /Shibboleth.sso/Status
            port: 443
            scheme: HTTP
            httpHeaders:
            - name: Host
              value: "{{ domain }}"
          initialDelaySeconds: 1
      volumes:
      - name: cert-sso-2019
        secret:
          secretName: cert-sso-2019
      - name: cert-sso-2021
        secret:
          secretName: cert-sso-2021
      - name: cert-jupyter-2018
        secret:
          secretName: cert-jupyter-2018
      - name: cert-jupyter-2021
        secret:
          secretName: cert-jupyter-2021
      imagePullSecrets:
      - name: registry-jupyter-rwth-aachen-de
