---
apiVersion: v1
kind: Secret
metadata:
  name: cert-jupyter-2018
  namespace: jhub
type: kubernetes.io/tls
data:
  tls.crt: "{{ cert_jupyter_2018 | b64encode }}"
  tls.key: "{{ key_jupyter_decrypted | b64encode }}"
---
apiVersion: v1
kind: Secret
metadata:
  name: cert-jupyter-2021
  namespace: jhub
type: kubernetes.io/tls
data:
  tls.crt: "{{ cert_jupyter_2021 | b64encode }}"
  tls.key: "{{ key_jupyter_decrypted | b64encode }}"
---
apiVersion: v1
kind: Secret
metadata:
  name: cert-sso-2019
  namespace: jhub
type: Opaque
data:
  tls.crt: "{{ cert_sso_2019 | b64encode }}"
---
apiVersion: v1
kind: Secret
metadata:
  name: cert-sso-2021
  namespace: jhub
type: Opaque
data:
  tls.crt: "{{ cert_sso_2021 | b64encode }}"
