html {
       position: relative;
       min-height: 100%;
}

body {
       /* Margin bottom by footer height */
       margin-bottom: 60px;
}

.hidden{
	display:none;
}

.cookie_text{
	font-weight: bold;
	font-size: 120%;
}

.form_center{
	display:block;
	width:500px;
	margin-left:auto;
	margin-right:auto;
	border: 1px solid #000;
	-webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
	height: 100%;
}

.form_center_head{
	padding: 2px 10px;
	background: #333;
	border-bottom: 1px solid #000;
	text-align: center;
}

.form_center_content{
	padding: 10px;
}



#sprachauswahl{
	width:auto;
}

.notice{
	text-align: justify;
}

.login-error{
	color: #FF0000;
}

@media screen and (min-width: 750px) {
	/*body{
		margin-left:40px;
		margin-right:40px;
	}*/
	
	.notice{
		width: auto;
		margin-right:auto;
		margin-bottom: 11px;
		padding-top: 19px;
		margin: 0 auto 20px;
	}	
	
}

.form, .form-md, .form-lg{
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

@media (min-width: 768px) {
    .form, .form-md, .form-lg{
        max-width: 500px;
    }
}

@media (min-width: 992px){
    .form-md, .form-lg{
        max-width: 800px;
    }
}

@media (min-width: 1200px){
    .form-lg{
        max-width: 1000px;
    }
}


.loginbutton {
	width: 150px;
}

#inhalt_links{
	float:		left;
	height:		100%;
	width: auto;
	margin: 10px;
}

#inhalt_rechts{
	float:		right;
	height:		100%;
	width: auto;
	margin: 10px;
}

#id3 {
	overflow:	auto;
	height:		100%;
}

#sprachauswahl{
	width: auto;
}

.form-attr {
    max-width: 80%;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.radio, .checkbox {
	padding-left: 20px;
}

.footer {
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #333;
  color: #fff;
  display: table;
  overflow: hidden;
  margin: auto;
}

.footer a {
    color:              #CCC;
    text-decoration:    none;
    font-size:          100%;
    padding-left:       22px;
}

.footer a:hover,
.footer a:focus {
    text-decoration:    underline;
}

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}
