---
apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: registry-replication-external
  namespace: services
spec:
  # Run every night at 3am⁄
  schedule: "0 */2 * * *"
  jobTemplate:
    spec:
      template:
        spec:
          restartPolicy: OnFailure
          containers:
          - name: replication
            image: registry.jupyter.rwth-aachen.de/provisioning/registry-replication:latest
            imagePullPolicy: Always
            command: ["/bin/sh"]
            args: 
            - -c
            - docker login -u ${INTERNAL_REGISTRY_USER} -p ${INTERNAL_REGISTRY_PASSWORD} ${INTERNAL_REGISTRY_HOST} && docker login -u ${GITLAB_REGISTRY_USER} -p ${GITLAB_REGISTRY_PASSWORD}  ${GITLAB_REGISTRY_HOST} && curl -X GET -u ${INTERNAL_REGISTRY_USER}:${INTERNAL_REGISTRY_PASSWORD} https://${INTERNAL_REGISTRY_HOST}/v2/_catalog | jq -r '.[]' | tail -n +2 | head -n -1 | while read i; do x=$(echo $i | sed 's/"//g' | sed 's/,//g' | grep "profiles/") && docker pull ${INTERNAL_REGISTRY_HOST}/$x && docker tag ${INTERNAL_REGISTRY_HOST}/$x ${GITLAB_REGISTRY_HOST}/jupyter/registry/$(echo $x | cut -d "/" -f2) && docker push ${GITLAB_REGISTRY_HOST}/jupyter/registry/$(echo $x | cut -d "/" -f2); done || exit 0
            env:
              - name: INTERNAL_REGISTRY_HOST
                value:  {{ internal_registry_host }}
              - name: INTERNAL_REGISTRY_USER
                valueFrom:
                  secretKeyRef:
                    name: registry-credentials
                    key: username
              - name: INTERNAL_REGISTRY_PASSWORD
                valueFrom:
                  secretKeyRef:
                    name: registry-credentials
                    key: password

              - name: GITLAB_REGISTRY_HOST
                value: {{ gitlab_registry_host }}
              - name: GITLAB_REGISTRY_USER
                value: {{ gitlab_registry_user }}
              - name: GITLAB_REGISTRY_PASSWORD
                value: {{ gitlab_registry_password }}

            volumeMounts:
              - mountPath: "/var/lib/docker"
                name: docker
              - mountPath: "/tmp"
                name: tmp
              - mountPath: "/var/run/docker.sock"
                name: docker-sock

          volumes:
            # Storing the docker images used for storing cashed images
            - name: docker
              persistentVolumeClaim:
                claimName: registry-replication-images
            - name: tmp
              persistentVolumeClaim:
                claimName: registry-replication-tmp
            - name: docker-sock
              hostPath:
                path: /var/run/docker.sock
                type: Socket
          imagePullSecrets:
          - name: registry-jupyter-rwth-aachen-de
