---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: registry
  namespace: services
  annotations:
    nginx.ingress.kubernetes.io/proxy-body-size: 10g
    nginx.ingress.kubernetes.io/affinity: cookie
    nginx.ingress.kubernetes.io/session-cookie-name: ingress
    nginx.ingress.kubernetes.io/affinity-mode: persistent
    nginx.ingress.kubernetes.io/enable-cors: "true"
    cert-manager.io/cluster-issuer: letsencrypt-prod
    nginx.ingress.kubernetes.io/whitelist-source-range: "{{ net.ours | join(',') }}"
    kubernetes.io/ingress.class: nginx
spec:
  tls:
  - secretName: letsencrypt-registry
    hosts:
    - "{{ registry_domain }}"
  rules:
  - host: "{{ registry_domain }}"
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: registry
            port:
              name: http
