---
apiVersion: v1
kind: Secret
metadata:
  name: registry-credentials
  namespace: services
type: Opaque
data:
  username: "{{ registry_user | b64encode }}"
  password: "{{ registry_password | b64encode }}"