#!ipxe
<%
    require task.find_file('ansible.rb')

    @hostvars = Ansible.get_hostvars(node)
%>
echo Razor <%= task.label %> task boot_call
echo Installation node: <%= node_url  %>
echo Installation repo: <%= repo_url %>

sleep 3
kernel <%= repo_url("/isolinux/vmlinuz") %> ip=<%= @hostvars['ipv4']['mgmt_addr'] %>::<%= @hostvars['net']['ipv4']['mgmt_gateway'] %>:<%= @hostvars['ipv4']['mgmt_mask'] %>:<%= @hostvars['hostname'] %>:bond0:none bond=bond0:eno1,eno2:mode=802.3ad inst.ks=<%= file_url("kickstart") %> || goto error
initrd <%= repo_url("/isolinux/initrd.img") %> || goto error
boot

:error
prompt --key s --timeout 60 ERROR, hit 's' for the iPXE shell; reboot in 60 seconds && shell || reboot
