<%
    require task.find_file('ansible.rb')

    @hostvars = Ansible.get_hostvars(node)
%>

network --device=bond0 --onboot=on --activate --bootproto=static --bondslaves=eno1,eno2 --bondopts=mode=802.3ad --ip=<%= @hostvars['ipv4']['mgmt_addr'] %> --netmask=<%= @hostvars['ipv4']['mgmt_mask'] %> --ipv6=<%= @hostvars['ipv6']['mgmt'] %>  --hostname=<%= @hostvars['hostname'] %> --nodns
network --device=bond0 --onboot=on --activate --bootproto=static --vlanid=3302 --interfacename=public --ip=<%= @hostvars['ipv4']['public_addr'] %> --netmask=<%= @hostvars['ipv4']['public_mask'] %> --ipv6=<%= @hostvars['ipv6']['public'] %> --gateway=<%= @hostvars['net']['ipv4']['gateway'] %> --nameserver=<%= @hostvars['net']['nameserver'].join(',') %>
network --device=bond0 --onboot=on --activate --bootproto=static --vlanid=3303 --interfacename=transport --ipv6=<%= @hostvars['ipv6']['transport'] %> --ipv6gateway=<%= @hostvars['net']['ipv6']['gateway'] %> --nodefroute --nodns --noipv4
lang en_US
keyboard us
timezone Europe/Berlin --isUtc
url --url=<%= repo_url %>

eula --agreed
reboot

text

# user --groups=wheel --name=jupyter --password=<%= node.metadata['ansible_become_pass'] || node.root_password %>
user --groups=wheel --name=jupyter --password=<%= @hostvars['ansible_become_pass'] %>
<% @hostvars['auth']['ssh_keys'].each do |key| %>
sshkey --username=jupyter "<%= key.strip %>"
<% end %>

bootloader --location=mbr --append="rhgb quiet crashkernel=auto"
zerombr
clearpart --all --initlabel
<% if node.metadata['ansible_inventory_hostname'] !~ /^gnode\d/ %>
ignoredisk --only-use=/dev/disk/by-path/pci-0000:3b:00.0-scsi-0:3:111:0
<% end %>
autopart --nohome --noswap --type=lvm

firstboot --disable

skipx

%post --log=/var/log/razor.log
update-alternatives --set python /usr/bin/python3
curl -o /root/razor_postinstall.sh <%= file_url("post_install") %>

# Run razor_postinstall.sh on next boot via rc.local
echo '#!/bin/bash' > /etc/rc.d/rc.local
chmod a+x /etc/rc.d/rc.local
echo bash /root/razor_postinstall.sh >> /etc/rc.d/rc.local
chmod +x /root/razor_postinstall.sh

# Signal completion of kickstart installation
curl <%= stage_done_url("kickstart") %>

%end

%packages
@standard
%end
