#!/bin/bash

exec >> /var/log/razor.log 2>&1

echo "Starting post_install"

# Wait for network to come up when using NetworkManager.
if service NetworkManager status >/dev/null 2>&1 && type -P nm-online; then
    nm-online -q --timeout=10 || nm-online -q -x --timeout=30
    [ "$?" -eq 0 ] || exit 1
fi

#<%= render_template("store_ip") %>

sed -i '/razor_postinstall/d' /etc/rc.d/rc.local

curl -s <%= broker_install_url %> | /bin/bash

if [ $? -ne 0 ]; then
    echo "Broker run failed; see /var/log/razor.log for more details" >> /etc/motd
fi

# We are done
curl -s <%= stage_done_url("finished") %>
