
---
apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: lifecycle
  namespace: jhub-staging
spec:
  # run everyday at midnight
  schedule: "0 0 * * *"
  jobTemplate:
    spec:
      template:
        spec:
          containers:
          - name: service
            image: "{{ gitlab_registry_host }}/{{ gitlab_project }}/services"
            command: /usr/local/bin/jupyterhub-lifecycle
            env:
            - name: SERVICE
              value: {{ svc }}
            envFrom:
            - secretRef:
              name: services
          restartPolicy: OnFailure
