---
apiVersion: v1
kind: Secret
metadata:
  name: service-token-{{ service }}
  namespace: jhub-staging
type: Opaque
data:
  gitlab-token: "{{ gitlab_token | b64encode }}"
  gitlab-webhook-token: "{{ gitlab_webhook_token | b64encode }}"
  hub-token: "{{ lookup('passwordstore', 'jupyter-staging/service-token/' + service) | b64encode }}"
  db-url: "{{ db_url | b64encode }}"
  redis-url: "{{ redis_url | b64encode }}"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: service-{{ service }}
  namespace: jhub-staging
  labels:
    service: {{ service }}
    component: services
spec:
  replicas: 1
  selector:
    matchLabels:
      service: {{ service }}
      component: services
  template:
    metadata:
      labels:
        service: {{ service }}
        component: services
    spec:
      updateStrategy:
        type: RollingUpdate
      containers:
      - name: service-{{ service }}
        image: "{{ internal_registry_host }}/{{ gitlab_project }}/services-staging:prod-test"
        imagePullPolicy: Always
        args:
        - /usr/local/bin/jupyterhub-service
        - {{ service }}
        env:
        - name: JUPYTERHUB_HOST
          value: https://staging.jupyter.rwth-aachen.de
        - name: JUPYTERHUB_API_URL
          value: https://staging.jupyter.rwth-aachen.de/hub/api
        - name: JUPYTERHUB_SERVICE_PREFIX
          value: /services/{{ service }}/
        - name: JUPYTERHUB_CLIENT_ID
          value: {{ service }}
        - name: JUPYTERHUB_SERVICE_NAME
          value: {{ service }}
        - name: GITLAB_TOKEN
          valueFrom:
            secretKeyRef:
              name: service-token-{{ service }}
              key: gitlab-token
        - name: GITLAB_WEBHOOK_TOKEN
          valueFrom:
            secretKeyRef:
              name: service-token-{{ service }}
              key: gitlab-webhook-token
        - name: JUPYTERHUB_API_TOKEN
          valueFrom:
            secretKeyRef:
              name: service-token-{{ service }}
              key: hub-token
        - name: DB_URL
          valueFrom:
            secretKeyRef:
              name: service-token-{{ service }}
              key: db-url
        - name: REDIS_URL
          valueFrom:
            secretKeyRef:
              name: service-token-{{ service }}
              key: redis-url
      imagePullSecrets:
      - name: registry-jupyter-rwth-aachen-de
        ports:
        - containerPort: 5000
          name: http
          protocol: TCP
        livenessProbe:
          failureThreshold: 3
          httpGet:
            path: /healthz
            port: 5000
            scheme: HTTP
          initialDelaySeconds: 2
          periodSeconds: 2
          successThreshold: 1
          timeoutSeconds: 2
        readinessProbe:
          failureThreshold: 3
          httpGet:
            path: /healthz
            port: 5000
            scheme: HTTP
          initialDelaySeconds: 2
          periodSeconds: 2
          successThreshold: 1
          timeoutSeconds: 2
---
apiVersion: v1
kind: Service
metadata:
  name: service-{{ service }}
  namespace: jhub-staging
spec:
  ports:
  - name: http
    port: 80
    protocol: TCP
    targetPort: 5000
  selector:
    component: services
    service: {{ service }}
  type: ClusterIP

