scheduling:
  userScheduler:
    enabled: false
  userPlaceholder:
    enabled: false

proxy:
  secretToken: "{{ lookup('passwordstore', 'jupyter/proxy-token') }}"

  service:
    type: ClusterIP

hub:
  cookieSecret: "{{ lookup('passwordstore', 'jupyter/hub-cookie-secret') }}"

  db:
    type: postgres
    url: postgresql+psycopg2://postgres@postgres-postgresql.services:5432/jhub_staging
    password: "{{ postgres_password }}"

  extraEnv:
    JUPYTERHUB_HOST: staging.jupyter.rwth-aachen.de
{% for svc in jupyterhub_services %}
    JUPYTERHUB_TOKEN_SERVICE_{{ svc | upper }}:
      valueFrom:
        secretKeyRef:
          name: service-token-{{ svc }}
          key: hub-token
{% endfor %}

  extraConfig:
{% for tpl in query('fileglob', 'templates/extra_configs/*.py') %}
    {{ tpl | basename | splitext | first }}: |
      {{ lookup('template', tpl) | indent(6) }}

{% endfor %}

  image:
    name: "{{ internal_registry_host }}/{{ gitlab_project }}/hub-staging"
    tag: "latest"
    pullPolicy: Always
    pullSecrets:
    - registry-jupyter-rwth-aachen-de


  allowNamedServers: false
  namedServerLimitPerUser: 10

  templatePaths:
  - /srv/jupyterhub/templates
  - /templates

  authenticatePrometheus: false

  readinessProbe:
    periodSeconds: 3
    initialDelaySeconds: 3

singleuser:
  networkPolicy:
    egressAllowRules:
      privateIPs: true
  podNameTemplate: 'jupyter-{userid}'
  memory:
    limit: 64G
    guarantee: 1G
  cpu:
    limit: 32
    guarantee: 0.1
  extraNodeAffinity:
    required:
      - matchExpressions:
        - key: maintenance
          operator: In
          values: 
            - "false"



  # We dont have a cloud metadata endpoint.
  # We disable this here. To avoid the latency penality
  # For creating another init-container
  cloudMetadata:
    enabled: true

  # Forces all HTTP/HTTPS traffic through our Squid Proxy
  extraEnv:
    PATH_DATASETS: /home/jovyan/datasets
    NVIDIA_DRIVER_CAPABILITIES: compute,utility
    # NVIDIA_VISIBLE_DEVICES: all

  defaultUrl: "/lab"
  storage:
    capacity: 4Gi
    dynamic:
      storageClass: rook-ceph-block
      pvcNameTemplate: 'claim-{userid}'
      volumeNameTemplate: 'claim-{userid}'
    extraVolumes:
#    - name: shared
#      persistentVolumeClaim:
#        claimName: jhub-shared
#    - name: datasets
#      persistentVolumeClaim:
#        claimName: jhub-datasets
#   - name: materials
#      persistentVolumeClaim:
#        claimName: jhub-materials
    - name: scripts
      configMap:
        name: singleuser-scripts
    extraVolumeMounts:
#    - name: shared
#      mountPath: /home/jovyan/shared
#    - name: materials
#      mountPath: /home/jovyan/materials
#      readOnly: true
#    - name: datasets
#      mountPath: /home/jovyan/datasets
#      readOnly: true
    - name: scripts
      mountPath: /scripts
#  image:
#    name: registry.git.rwth-aachen.de/jupyter/profiles/singleuser
#    tag: latest
#    pullSecrets:
#    - registry-git-rwth-aachen-de
#    - registry-git-ce-rwth-aachen-de
#    - registry-jupyter-rwth-aachen-de

  profileList:
  {{ jupyterhub_profiles | to_nice_yaml(indent=2) | indent(2) }}

prePuller:
  hook:
    enabled: false

auth:
  admin:
    users:
    - "6cj629xd" # Steffen Vogel
    - "Uq1r5F7G3YNiAa4E8GynoDOpuZNu6K9frMRDF4cUI3qRSPvZvgAOO9nrLK6f2LKr@rwth-aachen.de" # Marcus Meyer

  type: custom
  custom:
    className: "jhub_remote_user_authenticator.remote_user_auth.RemoteUserAuthenticator"
  state:
    enabled: true
    cryptoKey: "{{ lookup('passwordstore', 'jupyter/auth-state-key') }}"
