apiVersion: ceph.rook.io/v1
kind: CephCluster
metadata:
  name: rook-ceph
  namespace: rook-ceph
spec:
  removeOSDsIfOutAndSafeToRemove: true
  cephVersion:
    image: "{{ ceph_image }}"
  dataDirHostPath: /var/lib/rook
  mon:
    count: 3
  monitoring:
    enabled: true
    createPrometheusRules: true
  dashboard:
    enabled: true
    port: 7000
    ssl: false
  storage:
    useAllDevices: false
    useAllNodes: false

    # Matches 5 SSDs in non-RAID mode on nodes node[1-5]
    devicePathFilter: /dev/disk/by-path/pci-0000:3b:00\.0-scsi-0:2:\d+:0

    # Only search for SSDs on nodes which are not under maintenance
    nodes:
    {% for name in groups['nodes'] -%}
    {%- if not ('maintenance' in hostvars[name] and hostvars[name].maintenance) -%}
    - name: {{ hostvars[name].hostname }}
    {% endif -%}
    {%- endfor -%}
  network:
    hostNetwork: false
