# Volume to be used for MinIO server.
MINIO_VOLUMES="{{ minio_volumes }}"

# Use if you want to run MinIO on a custom port.
MINIO_OPTS="--address :9199"

# Root user for the server.
MINIO_ROOT_USER={{ minio_root_user }}

# Root secret for the server.
MINIO_ROOT_PASSWORD={{ minio_root_password }}
