---
apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: postgresql-backup
  namespace: services
spec:
  # Run every night at 3am
  schedule: "0 3 * * *"
  jobTemplate:
    spec:
      template:
        spec:
          imagePullSecrets:
          - name: registry-jupyter-rwth-aachen-de
          restartPolicy: OnFailure
          containers:
          - name: postgresql-backup
            image: postgres:11
            imagePullPolicy: Always
            command: ["/bin/bash"]
            args: ["-c", 'pg_dump -w -U $PGUSER -d $PGDATABASE -h $PGHOST -Fc -f /mnt/postgresql_backup/$(date +"%Y-%m-%d_%H-%M").pgdump']
            env:
              - name: PGHOST
                value:  {{ postgres_values.host }}
              - name: PGDATABASE
                value: {{ postgres_values.database }}
              - name: PGUSER
                value: postgres
              - name: PGPASSWORD
                valueFrom:
                  secretKeyRef:
                    name: postgres-postgresql
                    key: postgresql-password
            volumeMounts:
              - mountPath: "/mnt/postgresql_backup"
                name: backup
          volumes:
            - name: backup
              persistentVolumeClaim:
                claimName: postgres-backup
