log syslog all;

router id {{ ipv4.mgmt | ipaddr('address') }};

protocol device {

}

protocol direct {
	ipv4;
	ipv6;
}

protocol static {
    ipv6;

{% for name in groups['nodes'] %}
{% set host = hostvars[name] %}
    route {{ net.ipv6.public }} via {{ host.ipv6.mgmt | ipaddr('address')}};
    route {{ net.ipv6.k8s_svc }} via {{ host.ipv6.mgmt | ipaddr('address')}};
{% endfor %}
}

protocol kernel {
	ipv6 {
        import none;
        export all;
    };
}

template bgp calico_nodes {
	local {{ ipv6.mgmt | ipaddr('address') }} as {{ net.asn }};
	neighbor as {{ net.asn }};
	
    rr client;
	rr cluster id 1.0.0.1;

	ipv6 {
        import keep filtered;
		import all;
		export none;
	};
}

{% for name in groups['nodes'] %}
{% set host = hostvars[name] %}
protocol bgp {{ name }} from calico_nodes {
	neighbor {{ host.ipv6.mgmt | ipaddr('address') }};
}
{% endfor %}